@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "danaLight";
    src: url(/fonts/dana/DanaFaNum-Light.woff2) format("woff2");
    font-style: swap;
  }
  @font-face {
    font-family: "dana";
    src: url(/fonts/dana/DanaFaNum-Regular.woff2) format("woff2");
    font-style: swap;
  }
  @font-face {
    font-family: "danaMedium";
    src: url(/fonts/dana/DanaFaNum-Medium.woff2) format("woff2");
    font-style: swap;
  }
  @font-face {
    font-family: "danaBold";
    src: url(/fonts/dana/DanaFaNum-Bold.woff2) format("woff2");
    font-style: swap;
  }
  @font-face {
    font-family: "danaDemiBold";
    src: url(/fonts/dana/DanaFaNum-DemiBold.woff2) format("woff2");
    font-style: swap;
  }
  @font-face {
    font-family: "morabbaMedium";
    src: url(/fonts/morabba/Morabba-Medium.woff2) format("woff2");
    font-style: swap;
  }
  @font-face {
    font-family: "morabbaBold";
    src: url(/fonts/morabba/Morabba-Bold.woff2) format("woff2");
    font-style: swap;
  }
}
@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
body {
  font-family: "dana";
  background-color: #f3f4f6;
  @apply dark:bg-black-500;
}
